<ion-header>
  <ion-toolbar>
    <ion-title>Strategy Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="dismiss()" expand="full">Back</ion-button>
<ion-card>
  <ion-item>
    <ion-card-header>

    </ion-card-header>
    <ion-icon name="volume-low" slot="start"></ion-icon>
    <ion-label>Strategy Tip </ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>

</ion-content>
