  <ion-item class="sound-img">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-img *ngIf="!wasHeard" src="../../assets/cloud.png"></ion-img>
        <ion-img *ngIf="wasHeard" src="../../assets/cow.png"></ion-img>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-label size="large">
          <h3 *ngIf = "wasHeard">Mooo!</h3>
        </ion-label>
      </ion-row>
    </ion-grid>
  </ion-item>

<ion-item-group>
  <ion-item *ngIf="!wasPlayed">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-label>Get ready to listen!</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="playSound()">Listen!</ion-button>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item *ngIf="wasPlayed">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-label *ngIf="!wasHeard">Did you hear that?</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button size="large" (click)="playSound()">Listen Again!</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-button size="large" (click)="canHear()">I heard that!</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-button size="large" (click)="cannotHear()">I didn't hear that!</ion-button>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-item-group>

