<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let content of slideContent">
      <ng-container *ngIf="content.route == null; else routing">
        <app-tutorial-slide-content
                                    [title]="content.title"
                                    [paragraph]="content.paragraph"
                                    [headerImage]="content.headerImage"></app-tutorial-slide-content>
      </ng-container>
      <ng-template #routing>
      <app-tutorial-slide-content
                                  [title]="content.title"
                                  [paragraph]="content.paragraph"
                                  [headerImage]="content.headerImage"
                                  [routePath]="content.route.path"
                                  [linkText]="content.route.linkText"></app-tutorial-slide-content>
      </ng-template>
    </ion-slide>
  </ion-slides>
</ion-content>
