<ion-header>
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="records.length != 0; else DisplayNoContent">
    <ion-list *ngFor="let date of historyRecords.keys()">
      <ion-list-header>
        <ion-label>{{date}}</ion-label>
      </ion-list-header>
      <ion-item [color]="(record.wasHeard) ? 'success' : 'danger'" *ngFor="let record of historyRecords.get(date)">
            <ion-label class="ion-text-center">
              {{record.key.charAt(0).toUpperCase() + record.key.substr(1, record.key.length)}}
            </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #DisplayNoContent>
    <ion-header class="ion-text-center">
      <ion-label>No Records Here Yet!</ion-label>
    </ion-header>
  </ng-template>

</ion-content>
