<ion-header>
  <ion-toolbar>
    <ion-title>Session History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="records.length != 0; else DisplayNoContent">
    <ion-list *ngFor="let date of historyRecords.keys()">
      <ion-list-header>
        <ion-label>{{date}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let record of historyRecords.get(date)"
                [color]="(record.wasHeard) ? 'success' : 'danger'">
        <ion-label>
          <ion-icon name="checkmark-circle-outline" *ngIf="record.wasHeard; else NotHeardIcon"></ion-icon>
          <ng-template #NotHeardIcon>
            <ion-icon name="close-circle-outline"></ion-icon>
          </ng-template>
          {{record.key.charAt(0).toUpperCase() + record.key.substr(1, record.key.length)}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #DisplayNoContent>
    <ion-header class="ion-text-center">
      <ion-label>No Records Here Yet!</ion-label>
    </ion-header>
  </ng-template>

</ion-content>
