<ion-header>
  <ion-toolbar>
    <ion-title>LSL Tips!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="dismiss()" expand="full">Back</ion-button>
<ion-card>
  <ion-item>
    <ion-icon name="volume-low" slot="start"></ion-icon>
    <ion-label>Age: 1</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="volume-medium" slot="start"></ion-icon>
    <ion-label>Age: 2</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="volume-high" slot="start"></ion-icon>
    <ion-label>Age: 3</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="ear" slot="start"></ion-icon>
    <ion-label>Age: 4</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>Age: 5</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </ion-card-content>
</ion-card>



</ion-content>
