<ion-item-group>
  <ion-img src="assets/logo.png" class="login-logo"></ion-img>
  <form #loginForm="ngForm" *ngIf="!loginDisabled">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="user.userName" #input_username="ngModel" required></ion-input>
      <ion-note *ngIf=" input_username.invalid  && (input_username.dirty ||
                        input_username.touched) && input_username.errors.required"
                color="danger" size="small">
        Enter a Username
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password" #input_password="ngModel" required></ion-input>
      <ion-note *ngIf=" input_password.invalid  && (input_password.dirty ||
                        input_password.touched) && input_password.errors.required"
                color="danger" size="small">
        Enter a Password
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-note class="login-signup">No Account? <a href="#">Sign-up!</a></ion-note>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button size="medium" class="login-button"
                      (click)="authenticateUser()"
                      [disabled]="!loginForm.valid">
            Login
          </ion-button>
        </ion-row>
        <ion-row>
            <ion-note class="login-forgot"><a href="#">Forgot your username and&#47;or password?</a></ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
  <ion-item-group *ngIf="this.authAttemptCount > 0 && this.authErrors.length > 0">
    <ion-grid *ngFor="let error of this.authErrors">
      <ion-row>
        <ion-icon class="ion-padding-horizontal" color="danger" icon="alert"></ion-icon>
        <ion-note color="danger"><strong>{{error.message}}</strong></ion-note>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-item-group>
