<ion-header>
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="volume-low" slot="start"></ion-icon>
      <ion-label>Snake</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="volume-low" slot="start"></ion-icon>
      <ion-label>Airplane</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="volume-low" slot="start"></ion-icon>
      <ion-label>Train</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </ion-card-content>
  </ion-card>
</ion-content>
