<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Learn A Sound</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button color="dark" (click)="toListen()" ion-button expand="full">Listen</ion-button><br>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-button color="dark" (click)="toListen()" ion-button expand="full">Watch</ion-button><br>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-button color="dark" (click)="toListen()" ion-button expand="full">Play</ion-button><br>
    </ion-item>
  </ion-list>
</ion-content>
